#header
{
    background: rgba(256,256,256, 0.5);
    backdrop-filter: blur(2px);

    position: sticky;
    top: 0;

    padding-bottom: 5px;
}

#header span
{
    filter: none;
}

#links span
{
    margin-right: 5%;
}

.undecLink
{
    all:unset;
}

.undecLink :hover
{
    background-color: rgba(256,256,256, 0.5);
    border-radius: 5px;
}

.undecLink span
{
    text-align: center;
    cursor: pointer;
}
