body
{
   background: linear-gradient(90deg, #00cc75, #0055ee);
}

.headerClickable
{
   transition: background-color;
   transition-duration: 250ms;
   transition-timing-function: ease-in-out;

   border-radius: 5px;

   background: rgba(256, 256, 256, 0.0);
}

.headerClicked,
.headerClickable:hover
{
   background: rgba(256, 256, 256, 0.5);
}

#header
{
    background: rgba(256,256,256, 0.5);
    backdrop-filter: blur(2px);

    position: sticky;
    top: 0;

    padding-bottom: 10px;
    padding-top: 5px;

    margin-bottom: 10px;

    z-index: 1;
}

.undecLink
{
    all:unset;
    cursor: pointer;
    filter: none;
}

#links
{
    display: flex;
    justify-content: right;

    padding-top: 2.5%;
}

#links a,
#links img
{
    margin-left: 5%;
}

#GitHub,
#linkedIn
{
   width: 30px;
   height: 30px;
}

#GitHub:hover,
#linkedIn:hover
{
    cursor: pointer;
}

.card
{
   margin-top: 5px;
   margin-bottom: 10px;

   background: rgba(256,256,256, 0.5);
   backdrop-filter: blur(2px);

   border-radius: 5px;

   padding: 15px;
}

#footer
{
   background: rgba(256,256,256, 0.5);
   backdrop-filter: blur(2px);

   position: fixed;
   bottom: 0%;

   font-size: x-small;
   padding: 3px;

   border-top-right-radius: 10px;
}

#projectPreviewButtons
{
   text-align: center;
}

#projectPreviewButtons input[type="radio"]
{
   margin-left: 2px;
   margin-right: 2px;
}

#projectPreviewButtons input[type="radio"]:checked
{
   accent-color: green;
}

.techIconBadge
{
   max-width: 35px;
   max-height: 35px;

   margin-right: 5px;
   margin-left: 5px;

   margin-bottom: 8px;
}

#projectsGrid
{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 10px;
}

.badgeRow
{
   float :right;
}

.projImg
{
   max-width: 100px;
   max-height: 100px;
}

.repoLinksContainer
{
   display: inline-flex;

   transition: width 1s;
   interpolate-size: allow-keywords; /* not support on firefox yet, test animations on chrome*/

   border: 2px solid rgb(50,50,50);
   border-radius: 5px;

   max-height: 30px;

   width: 33px;

   align-content: center;

   overflow:hidden;
   white-space: nowrap;
}

.repoLinksContainer:hover
{
   width: max-content;
}

.repobadge
{
   background: rgba(256,256,256, 0.5);
   backdrop-filter: blur(2px);

   border-radius: 3px;

   max-width: 30px;
   max-height: 30px;

   padding: 1px;
}

.repoLinkButton
{

   background-color: rgb(240, 240, 240);
   transition: background-color 500ms;

   border-left: 1px solid black;

   cursor: pointer;

   padding-left: 5px;
   padding-right: 5px;
}

.repoLinkButton:hover
{
   background-color: rgb(210,210,210);
}

.educationIconBadge
{
   margin-bottom: 8px;
}

#uofwLogo
{
   max-width: 70px;
   max-height: 70px;
}

#uofmLogo
{
   max-width: 90px;
   max-height: 90px;

   margin-left: 7px;
}

.educationEnty
{
   display: flex;
   padding: 10px;
}

.educationContents
{
   margin-left: 10px;
}

.workIconBadge
{
   margin-right: 5px;
   margin-left: 5px;

   margin-bottom: 8px;
}

#govCanBadge
{
   max-width: 150px;
   max-height: 100px;
}

#govManBadge
{
   max-width: 200px;
   max-height: 150px;
}

#mhiBadge
{
   max-width: 75px;
   max-height: 75px;
}

#spinner
{
   margin-left: 10px;
}