body
{
   background: linear-gradient(90deg, #12f006, #00aa75, #0055ee, blue);
}

.clickable
{
   transition: background-color;
   transition-duration: 250ms;
   transition-timing-function: ease-in-out;

   border-radius: 5px;

   background: rgba(256, 256, 256, 0.0);
}

.clicked,
.clickable:hover
{
   background: rgba(256, 256, 256, 0.5);
}

.card
{
   margin-top: 5px;
   margin-bottom: 10px;

   background: rgba(256,256,256, 0.5);
   backdrop-filter: blur(2px);

   border-radius: 5px;

   padding: 15px;
}

#footer
{
   background: rgba(256,256,256, 0.5);
   backdrop-filter: blur(2px);

   position: absolute;
   bottom: 0;

   font-size: x-small;
   padding: 3px;

   border-top-right-radius: 10px;
}